<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

	<bean id="employeeTarget" class="com.old.Employee"></bean>
	<bean id="employeeAspect" class="com.old.EmployeeAspect"></bean>
	
	<bean id="employeeAdvisor2" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
		<property name="advice" ref="employeeAspect"></property>
		<property name="pattern">
			<value>.*</value>
		</property>
		
	</bean>
	
	<bean id="employeeAdvisor" class="org.springframework.aop.support.NameMatchMethodPointcutAdvisor">
		<property name="advice" ref="employeeAspect"></property>
		<property name="mappedNames">
			<value>checkMail,work,enterServerRoom</value>
		</property>
		
	</bean>
<!-- 	<bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
		<property name="beanNames"></property>
	</bean> -->
	
	<bean id="employee" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="target" ref="employeeTarget"></property>
		<property name="interceptorNames" value="employeeAdvisor2"></property>
	</bean>
	
</beans>
