<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd">

	<util:properties id="sessions" location="bin/com/lab01/sessions.properties"></util:properties>
	<bean id="sessionPlanner" class="com.lab01.SessionPlannerImpl">
		<constructor-arg ref="sessions"></constructor-arg>
	</bean>
	<bean id="conference" class="com.lab01.Conference">
		<property name="sessionPlanner" ref="sessionPlanner"></property>
	</bean>
</beans>
